@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
}

.navbar__links{
  height: 51px;
  width: 25%;
}

.links{
  list-style: none;
  display: flex;
  align-items: center;
  gap:8px;
  padding: 16px 20px;
}

.navbar-item{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  Color: #000000;
  padding: 16px;
}

li:hover{
  background-color: #111111;
  border-radius: 24px;
  color: #FFFFFF;
}

.selected{
  background-color: #111111;
  border-radius: 24px;
  color: #FFFFFF;
} 
